{% extends "base.html" %}

{% block body %}
  
    
    <div class="container mt-5">
        <h3>About To-Do List App</h3>
        <p>
            This is a simple to-do list application built with Django. You can use it to manage your tasks and stay organized.
            <br/>Also you can use it to keep track of your tasks and get things done.
        </p>
        <h3>Register</h3>
        <p>
            If you don't have an account yet, you can register by clicking the "Register" button above.
        </p>
    </div>

{% endblock body %}
